header {
    text-align: center;
}
nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
  }
nav ul li {
    display: inline-block;
  }
nav a {
    color: red;
  }
p{
    font-size: 18px;
}
.currentlink{
    color: #00aced;
}
